$grey: #837f84;
$grey-second: #626c76;
$grey-light: #f8f8f8;
$grey-dark: #827e84;
$grey-bright: #deddde;

$main: #c38cd9;
$main-light: #fcf4ff;
$main-hover: #f4eff6;

$white: #fff;
$black: #281e2b;
$yellow: #f8ea6e;

$error: #e52b67;
$warning: #eea63a;
$info: #b05dd0;
